# IDE
.idea/
*.iml

# development
development/

# Vendors
mcms/vendor/
mcms/public/vendor/
mcms/public/components/

# Cache
mcms/cache/

# Config template
mcms/app/config/app_config.php
mcms/app/config/config.ini

# Uploaded images
mcms/public/img/upload/