/*
 * Checkboxes switch from https://bootsnipp.com/snippets/ZlQ32
 * All modified CSS are commented
 */

/*
 * Added .switch-label on the label used for the switch.
 * A real label can now be used beside the swicth when rendering.
 */

/* Add margins when displaying the switches */
.TriSea-technologies-Switch {
    margin-top: 10px;
    margin-bottom: 10px;
}

.TriSea-technologies-Switch > input[type="checkbox"] {
    display: none;
}

.TriSea-technologies-Switch > label.switch-label {
    cursor: pointer;
    height: 0;
    position: relative;
    width: 40px;
    margin-right: 10px; /* Display the 'labels' with a margin */
}

.TriSea-technologies-Switch > label.switch-label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}

.TriSea-technologies-Switch > label.switch-label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}

.TriSea-technologies-Switch > input[type="checkbox"]:checked + label.switch-label::before {
    background: inherit;
    opacity: 0.5;
}

.TriSea-technologies-Switch > input[type="checkbox"]:checked + label.switch-label::after {
    background: inherit;
    left: 20px;
}
