.no-margin {
    margin: 0;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}

.nl2br {
    white-space: pre-line;
}

#cookieConsent {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
}
